@model UserViewModel

<h1>Welcome, @Model.UserName!</h1>

<p><strong>Email:</strong> @Model.Email</p>
<p><strong>Points:</strong> @Model.Points</p>

<div>
    <button id="Comments">Comments</button>
    <button id="MyAnnonces">My Annonces</button>
</div>

<div id="commentsContainer" style="display:none;">
    @await Html.PartialAsync("_CommentsPartial", Model.Comments)
</div>

<div id="annoncesContainer" style="display:none;">
    @await Html.PartialAsync("_AnnoncesPartial", Model.Annonces)
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Comments').click(function () {
                $('#commentsContainer').show();
                $('#annoncesContainer').hide();
                $.get('@Url.Action("LoadComments", "Home")', function (data) {
                    $('#commentsContainer').html(data);
                });
            });

            $('#MyAnnonces').click(function () {
                $('#annoncesContainer').show();
                $('#commentsContainer').hide();
                $.get('@Url.Action("LoadAnnonces", "Home")', function (data) {
                    $('#annoncesContainer').html(data);
                });
            });
        });
    </script>
}
