@model IEnumerable<Appli_EcoPartage.Data.Users>

@{
    ViewData["Title"] = "All Users";
}

<h1>All Users</h1>

<!-- Formulaire pour afficher les utilisateurs-->
<table class="table">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Points</th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Points</td>
                <!-- boutton pour changer les points d'un utilisateur' -->
                <td>
                    <a asp-action="EditUserPoints" asp-route-id="@user.Id" class="btn btn-primary">Edit Points</a>
                </td>
                <!-- boutton pour supprimer un utilisateur' -->
                <td>
                    <form asp-action="UserBlocked" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@user.Id" />
                        <button type="submit" class="btn btn-danger">Block</button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>




