@model IEnumerable<Appli_EcoPartage.Data.ContactMessage>

@{
    ViewData["Title"] = "Contact Messages";
}

<h1>Contact Messages</h1>

<!--Formulaire pour afficher les messages reçu par l'admin-->
<table class="table">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Message</th>
            <th>Date Sent</th>
            <th>User</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model)
        {
            <tr>
                <td>@message.Subject</td>
                <td>@message.Message</td>
                <td>@message.DateSent.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@message.User.UserName</td>
                <td>@(message.IsRead ? "Read" : "Unread")</td>
                <td>
                    @if (!message.IsRead)
                    {
                        <!-- bouton pour changer le status d'un message reçu -->
                        <form asp-action="MarkAsRead" method="post" class="d-inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@message.Id" />
                            <button type="submit" class="btn btn-success">Mark as Read</button>
                        </form>
                    }
                    else
                    {
                        <span class="badge bg-success">Read</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

